.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
} */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul {
  text-align: left;
  width: 400px;
}

input {
  position: absolute;
  height: 27px;
  width: 227px;
  margin: 4px;
  padding: 4px;
  font-size: 24px;
  top:10px;
  left:10px;
  border-radius: 50px;
  border: 1px solid var(#BF307F);
}
button {
  position: absolute;
  margin: 4px;
  padding: 4px;
  font-size: 20px;
  top:10px;
  left:260px;
  height: 39px;
  width: 150px;
  overflow: hidden;
  background: transparent;
  border: 1px solid var(#BF307F);
  border-radius: 50px;
  color: #BF307F;
  text-transform: uppercase;
  outline: none;
  /* transform: translateY(50px); */
  animation: slideUp .8s ease-in-out  forwards 1s;
}
.plot {
  z-index: -999;
  
}

